{% extends "partials/base.html" %}

{% block title %}
    Detail of {{ country_info.0.0 }} - Countries by Web4BetterWorld
{% endblock %}

{% block content %}
    <div class="container">
        <div class="container" id="summary-container">
            <div class="card text-white bg-dark text-center">
                <div class="card-header">
                    <h3>Summary</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="http://dbpedia.org/resource/{{ country_info.0.0 }}">
                            {{ country_info.0.0 }}
                        </a>
                    </h5>
                    <p align="justify" class="card-text">
                        {{ country_info.2.0 }}
                    </p>
                </div>
            </div>
        </div>
        <div class="container" id="info1-container">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem; margin-top: 2rem;">
                        <div class="card-body text-white bg-dark">
                            <h5 class="card-title">
                                <a href="http://dbpedia.org/ontology/language">
                                    Languages
                                </a>
                            </h5>
                            <p class="card-text">Languages that use in this country.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for lang in country_info.3 %}
                                <a href="{{ lang.1 }}">
                                    <li class="list-group-item">
                                        {{ lang.0 }}
                                    </li>
                                </a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem; margin-top: 2rem;">
                        <div class="card-body text-white bg-dark">
                            <h5 class="card-title">
                                <a href="http://dbpedia.org/ontology/capital">
                                    Capital(s)
                                </a>
                            </h5>
                            <p class="card-text">Capital(s) of this country.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for capital in country_info.1 %}
                                <a href="{{ capital.1 }}">
                                    <li class="list-group-item">
                                        {{ capital.0 }}
                                    </li>
                                </a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem; margin-top: 2rem;">
                        <div class="card-body text-white bg-dark">
                            <h5 class="card-title">
                                <a href="http://dbpedia.org/ontology/currency">
                                    Currency(ies)
                                </a>
                            </h5>
                            <p class="card-text">Currency(ies) that use in this country.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for currency in country_info.4 %}
                                <a href="{{ currency.1 }}">
                                    <li class="list-group-item">
                                        {{ currency.0 }}
                                    </li>
                                </a>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if country_info.5 %}
                    <div class="col-sm">
                        <div class="card" style="width: 18rem; margin-top: 2rem;">
                            <div class="card-body text-white bg-dark">
                                <h5 class="card-title">Statistics detail</h5>
                                <p class="card-text">
                                    Additional details about this country, retrieved from local data source.
                                </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                {% for local_country_info in country_info.5 %}
                                    <li class="list-group-item">
                                        <a href="{{local_country_info.0}}">
                                            <strong>{{ local_country_info.1 }}:</strong>
                                        </a>
                                        {{local_country_info.2|urlize}}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <style>
        div#summary-container, div#info1-container {
            padding: 2%
        }
    </style>
{% endblock %}