{% extends "partials/base.html" %}

{% block content %}
    <div class="container">
        <h1>Countries</h1>
        <div>
            <h2>
                Cari
            </h2>
            <form onsubmit="window.location = '/' + search.value; return false;">
                <input id="search" class="form-control"  type="search" name="search" placeholder="Nama Negara">
            </form>
        </div>
        <div>
            <h2>Hasil Pencarian</h2>
            <div>
                {% for country in countries %}
                    <ul>
                        <li>{{ country }}</li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}